<html>
    <head>
        <title>SocketIO test</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>  
        <!-- this version of socketio works with flask-socketio -->
        

        <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
        <link type="text/css" rel="stylesheet" href="../static/css/rickshaw.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/extensions.css?v=2">



        <script src="../static/js/d3.v3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script>
            jQuery.noConflict();
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
        <script src="../static/js/rickshaw.min.js"></script>
        <script src="../static/js/extensions.js"></script>

        <style>

        </style>

    </head>
    <body>
        <div class="input">
            <form id='emit'>
                <input type="text" name="emit_data" id="emit_data" placeholder="Message">
                <input type="submit" value="Echo">
            </form>
        </div>
        <div id="response">
        </div>


<div id="content">

    <form id="side_panel">
        <h1>BATS Tick Data</h1>
        <section><div id="legend"></div></section>
        <section>
            <div id="offset_form">
                <label for="pct">
                    <input type="radio" name="offset" id="pct" value="expand">
                    <span>pct</span>
                </label>
                <label for="value">
                    <input type="radio" name="offset" id="value" value="value">
                    <span>value</span>
                </label>
            </div>
        </section>
        <section></section>
    </form>

    <div id="chart_container">
        <div id="chart"></div>
        <div id="timeline"></div>
        <div id="preview"></div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function(){

        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        socket.on('incoming tick', function(msg) {
            console.log(msg.data);
            $('#response').append('<p>Received: ' + msg.data + '</p>');
        });

        $('form#emit').submit(function(event) {
            socket.emit('tick', {data: $('#emit_data').val()});
            return false;
        });

    });
</script>



<script>
// set up our data series with 150 random data points

var seriesData = [ [], [], [], [], [], [], [], [], [] ];
var random = new Rickshaw.Fixtures.RandomData(150);

for (var i = 0; i < 150; i++) {
    random.addData(seriesData);
}

var palette = new Rickshaw.Color.Palette( { scheme: 'classic9' } );

var volumescale = d3.scale.linear()
                    .domain([0, 100])
                    .range([0, 20]);

// instantiate our graph!

var graph = new Rickshaw.Graph( {
    element: document.getElementById("chart"),
    width: 900,
    height: 500,
    renderer: 'multi',
    stroke: true,
    preserve: true,
    series: [
        {
            color: palette.color(),
            data: seriesData[0],
            name: 'Moscow',
            renderer: 'line'
        }, {
            color: palette.color(),
            data: seriesData[1],
            name: 'Shanghai',
            renderer: 'line'
        }, {
            color: palette.color(),
            data: seriesData[2],
            name: 'Amsterdam',
            renderer: 'line'
        }, {
            color: palette.color(),
            data: seriesData[3],
            name: 'Paris',
            renderer: 'line'
        }, {
            color: palette.color(),
            // data: seriesData[4].map(function(d) { return { x: d.x, y: d.y / 4 } }),
            data: seriesData[4],
            name: 'Volume',
            renderer: 'bar',
            scale: volumescale
        } 
    ]
} );

graph.render();

var preview = new Rickshaw.Graph.RangeSlider.Preview( {
    graph: graph,
    element: document.getElementById('preview'),
} );

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph,
    xFormatter: function(x) {
        return new Date(x * 1000).toString();
    }
} );

var annotator = new Rickshaw.Graph.Annotate( {
    graph: graph,
    element: document.getElementById('timeline')
} );

var legend = new Rickshaw.Graph.Legend( {
    graph: graph,
    element: document.getElementById('legend')

} );

var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph,
    legend: legend
} );

var order = new Rickshaw.Graph.Behavior.Series.Order( {
    graph: graph,
    legend: legend
} );

var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
    graph: graph,
    legend: legend
} );


var ticksTreatment = 'glow';

var xAxis = new Rickshaw.Graph.Axis.Time( {
    graph: graph,
    ticksTreatment: ticksTreatment,
    timeFixture: new Rickshaw.Fixtures.Time.Local()
} );

xAxis.render();

var yAxis = new Rickshaw.Graph.Axis.Y( {
    graph: graph,
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    ticksTreatment: ticksTreatment
} );

yAxis.render();


var controls = new RenderControls( {
    element: document.querySelector('form'),
    graph: graph
} );

// add some data every so often

var messages = [
    "Changed home page welcome message",
    "Minified JS and CSS",
    "Changed button color from blue to green",
    "Refactored SQL query to use indexed columns",
    "Added additional logging for debugging",
    "Fixed typo",
    "Rewrite conditional logic for clarity",
    "Added documentation for new methods"
];

setInterval( function() {
    random.removeData(seriesData);
    random.addData(seriesData);
    graph.update();

}, 3000 );

function addAnnotation(force) {
    if (messages.length > 0 && (force || Math.random() >= 0.95)) {
        annotator.add(seriesData[2][seriesData[2].length-1].x, messages.shift());
        annotator.update();
    }
}

addAnnotation(true);
setTimeout( function() { setInterval( addAnnotation, 6000 ) }, 6000 );

var previewXAxis = new Rickshaw.Graph.Axis.Time({
    graph: preview.previews[0],
    timeFixture: new Rickshaw.Fixtures.Time.Local(),
    ticksTreatment: ticksTreatment
});

previewXAxis.render();

</script>



    </body>


</html>